@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto mono", sans-serif;
  min-height: 100vh;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: relative;
}

div#container {
  outline: 2px ridge gray;
  max-width: 400px;
  min-height: 300px;
  border-radius: 10px;
}

.img-content {
  background-image: url(./images/illustration-hero.svg);
  background-size: cover;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  min-height: 25vh;
}

.body-content {
  background-color: hsl(225, 100%, 98%);
  max-width: 400px;
  min-height: 40vh;
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-weight: 800;
  font-size: 1.2rem;
  color: #000000cc;
}
pre {
  opacity: 0.5;
  padding: 15px 0;
  padding-right: 20px;
  font-family: "roboto", sans-serif;
  color: rgba(0, 0, 0, 0.644);
  font-weight: 550;
}

main {
  background-color: hsl(225, 100%, 94%, 0.4);
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px ridge;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 80%;
}
a {
  color: rgb(0, 0, 255);
}
h3 {
  font-weight: 700;
  /* font-family: "roboto", sans-serif; */
}
p {
  /* font-family: "roboto", sans-serif; */
  font-weight: 400;
  color: hsl(224, 23%, 55%);
}
button.bttn-1 {
  background-color: hsl(245, 75%, 52%);
  color: whitesmoke;
  font-weight: 700;
  width: 80%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

button.bttn-2 {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.644);
  font-weight: 900;
}
footer {
  font-weight: 800;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  right: 0;
}
footer a {
  text-decoration: none;
}

@media screen and (max-width: 500px) and (min-width: 400px) {
  body {
    background-color: black;
    background-image: url(./images/pattern-background-mobile.svg);
  }
}
@media screen and (max-width: 375px) {
  body {
    font-size: 12px;
  }

  div#container {
    position: relative;
    width: 100%;
    margin: 0 10px;
  }

  .img-content {
    background-image: url(./images/illustration-hero.svg);
    min-width: 250px;
  }

  .body-content {
    min-width: 250px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
  }
  footer {
    font-size: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  footer a {
    text-decoration: none;
  }
}


